@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0; padding: 0; font-family: 'Poppins', sans-serif; box-sizing: border-box;
}
body{
    background: #23242a;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    overflow-x: hidden;

    height: 200vh;
}
header{
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 1128px){
    #about{
        flex-direction: column;
    }
    .article1 img{
        width: 50%;
    }

}
@media (max-width: 590px) {
   #navbar{
    flex-direction: column;
   }
 
}

#navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
    height: 9vh;
    margin: 0 auto;
    align-items: center ;

}
#navbar ul li a{
    color: #fff;
}
#navbar h1 a{
    position: relative;
    font-weight: 1111;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: #fff;
}
.div{
    margin: 0 auto;
    background-color: #8f8f8f;
    width: 90%;
    height: 2px;
    
   
}
#navbar ul{
    margin-top:1rem ;
    display: flex;
   
}
#navbar ul li{
    padding: 1rem;
}

#up{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 30px; ;
    color: #fff;
    background-color: #7f7f7f;
    border: none;
    z-index: 11;
    position: fixed;
    cursor: pointer;
}
#up i{
    width: 28px;
    height: 28px;
    margin-top: 0.5rem;
    margin-left:1px ;
}
#up i:active{
    opacity: 0.8;
}
section article{
    display: flex;
    width: 100vw;
    height: 100vh;
    
}
#about{
    display: flex;
    justify-content: space-around;
   
    
}
.article1{
margin-top: 4rem;
}
.article1 img{
    width: 36rem;
  border-radius:50% ;

}
.article2{
    margin-top: 14rem;
}
.article2 h2{
    color: #fff;

} 
.article2 h3{
    color: #7f7f7f;
}
.article2 p {
    margin-top: 10px;
    width: 34rem;
    text-align: justify;
    height: 22rem;
    color: #fff;
}
.carddd{
    margin-top:2rem ;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#projects h3{
    position: absolute;
    right: 48%;
   margin-top: 1rem;
   color: #fff;
}
.carddd .card{
    color: #fff;
   background-color: #1c1c1c;
    position: relative;
    top: 5rem;
}
.contact .home-sci{
 display: flex;
 justify-content: space-around;
 position: relative;
 font-size: 5rem;
 width: ;
}
.home-sci a i{
 color: #fff;
}